.primary-button {
	--background: var(--ion-color-primary);
	--color: #fdfdfd;
	letter-spacing: 0.06em;
}

.primary-button * {
	color: #fdfdfd;
}

.primary-button ion-icon{
	width: 28px;
	height: 28px;
}

.float {
	position: fixed;
	z-index: 3;
}

.chatbot-float {
	right: 10px;
	bottom: 25px;
}