.progress-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  position: absolute;
  top: 30px;
  left: 1.8rem;
  width: calc(100% - 3.8rem);
  height: 5px;
  background-color: var(
    --ion-divider-background
  ); /* Faded color for inactive steps */
  border-radius: 4px;
}

.progress-step {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  margin-bottom: 10px;
  width: 25%;
  max-width: 99px;
  height: 95px;
  z-index: 2;
}

.step-number.active {
  background-color: var(--ion-color-primary);
}

.step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--ion-color-primary);
  background-color: var(--ion-background-color);
  font-size: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.step-title {
  color: var(--ion-color-contrast);
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}

.btn {
  color: #fff;
  min-width: 130px;
}

.btn-outlined {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 1rem;
  font-size: 18px;
  border-radius: 12px;
  margin-top: 1rem;
  border: -1px solid #eee;
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
