/*@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*/

@font-face {
  font-family: 'UI-font';
  src: url('./assets/font/SF-Pro-Rounded-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'UI-font';
  src: url('./assets/font/SF-Pro-Rounded-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'UI-font';
  src: url('./assets/font/SF-Pro-Rounded-Semibold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'UI-font-number';
  src: url('./assets/font/SF-Pro-Display-Bold.otf') format('opentype');
  font-weight: 600;
}

:root[data-theme='dark'] {
  --divider-background: #303030;
}

:root[data-theme='dark'] {
  --ion-color-primary: #2785dd;
  --black-color: #000000;
  --white-color: #ffffff;
  --notification-color: #d33f2c;
  --ion-input-border: #ffffff26;
  --divider-color: #1d6ab1;
  --ion-color-contrast: #cdcdcd;
  --ion-segment-indicator-checked-border-radius: 10px;
  --ion-color-contrast-trans: #fdfdfd28;
  --ion-color-contrast-trans-map: #fdfdfd28;
  --ion-bg-white: #272727;
  --ion-color-muted: #a1a1a1;
  --ion-background-light: #569ee2;
  --map-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --map-zoom-in-icon: url('./assets/icons/dark-plus.svg');
  --map-zoom-out-icon: url('./assets/icons/dark-minus.svg');
}
:root[data-theme='light'] {
  --ion-color-primary: #1e7fdb;
  --ion-color: #f4f5f8;
  --ion-color-contrast: #404040;
  --ion-color-shade: #d7d8da;
  --ion-input-border: #00000054;
  --ion-color-tint: #f5f6f9;
  --divider-background: rgba(var(--ion-color-primary-rgb), 0.14);
  --black-color: #000000;
  --white-color: #ffffff;
  --notification-color: #d33f2c;
  --ion-background-color: #fefefe;
  --ion-segment-indicator-checked-border-radius: 10px;
  --ion-tab-bar-background: #fdfdfd;
  --ion-color-contrast-trans: #30303028;
  --ion-item-background: #fbfbfb;
  --ion-background-color-ch-ss: #c2c0c0;
  --ion-color-ch-ss: #fff;
  --ion-text-color-step-800: #fff;
  --ion-color-muted: #3f3f3f;
  --ion-background-light: #9acdfd6b;
  --ion-bg-white: #fff;
  --map-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  --map-zoom-in-icon: url('./assets/icons/light-plus.svg');
  --map-zoom-out-icon: url('./assets/icons/light-minus.svg');
  --white-border-color: #d7d8dd;
}
* {
  font-family: -apple-system, BlinkMacSystemFont, 'UI-font', sans-serif !important;
  box-sizing: border-box !important;
  scrollbar-width: 0;
  font-weight: 400;
}

*::-webkit-scrollbar {
  display: none;
}
*::-webkit-scrollbar-thumb {
  display: none;
}

.ion-page {
  --background: var(--ion-background-color);
}
.ion-content {
  --background: var(--ion-background-color);
}

:host(.ion-color) .toolbar-background {
  --background: var(--ion-background-color);
}
.header-ios.ion-no-border ion-toolbar:last-of-type {
  background-color: var(--ion-background-color);
}
ion-header ion-toolbar:first-of-type {
  background-color: var(--ion-background-color);
}

a {
  text-decoration: none;
  color: var(--ion-color-primary);
}

ion-title.ios.title-large {
  color: var(--ion-color-contrast);
}

ion-title.md {
  padding-left: 10px;
  color: var(--ion-color-contrast);
}

ion-title {
  font-weight: 700;
}

ion-menu-button.md ion-icon {
  width: 30px;
  height: 30px;
}

ion-menu-button.ios {
  --color: var(--ion-color-contrast);
}

ion-toolbar.ios {
  padding: 2.5px !important;
}

ion-tab-bar {
  height: 70px !important;
  --color: var(--ion-color-contrast);
  filter: drop-shadow(
    rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px
  );
}

ion-tab-button ion-icon {
  margin-bottom: 8px;
  width: 24px;
  height: 24px;
}

ion-tab-button {
  position: relative;
  --ripple-color: transparent;
  color: var(--ion-color-contrast);
}

ion-tab-button::before {
  content: '';
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%, -22%);
  background-color: #6db7fd43;
  width: 0px;
  height: 33px;
  border-radius: 18px;
  z-index: 1;
  opacity: 0;
}

ion-tab-button.tab-selected::before {
  width: 68px;
  opacity: 1;
  transition: 0.3s;
}

ion-tab-button.tab-selected {
  color: var(--ion-color-primary);
}

ion-tab-button ion-label {
  font-size: 13px;
  font-weight: 500;
}

ion-badge {
  background-color: var(--notification-color);
  color: var(--white-color);
  font-size: 10px;
  padding: 3px 5px;
  position: absolute;
  z-index: 2;
  left: calc(50% + 11px);
  top: 4px;
  max-width: 25px;
  width: max-content;
}

ion-badge.ios {
  padding: 1px 6px;
}

ion-menu ion-content {
  border-right: 2px solid var(--ion-color-tint);
}

ion-tab-bar.hide-tab-bar {
  display: none;
}
ion-tab-bar.show-tab-bar {
  display: flex;
}

ion-button {
  --background-hover: inherit;
  --background-activated: inherit;
}

ion-button.back-button ion-icon {
  width: 25px;
  height: 25px;
}

ion-button.back-button {
  width: fit-content;
  color: var(--ion-color-contrast);
}

ion-button.back-button.md ion-label {
  display: none;
}

ion-button.back-button.ios {
  --padding-start: none;
}

ion-toolbar {
  --background: var(--ion-background-color);
  border-bottom: none;
  color: var(--ion-color-contrast);
}

ion-badge.dot-badge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 1px;
  color: var(--notification-color);
  transform: scale(0.8);
}

ion-badge.md.dot-badge {
  width: 12px;
  height: 12px;
  transform: scale(0.65);
}

ion-buttons.notification {
  padding-right: 6px;
}

ion-buttons.notification ion-icon {
  width: 26px;
  height: 26px;
  color: var(--ion-color-contrast) !important;
}

ion-buttons.notification ion-badge.dot-badge,
ion-buttons.notification .pulse-container {
  right: 3px;
  top: 3px;
  left: unset;
}

ion-buttons.notification .pulse-container {
  position: absolute;
  background-color: var(--notification-color);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  transform: scale(0.65);
}

ion-buttons.notification .pulse-container:after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  -webkit-animation: circle-pulse 2s infinite;
  animation: circle-pulse 1.5s infinite;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 var(--notification-color);
  box-shadow: 0 0 0 0 var(--notification-color);
}

@keyframes circle-pulse {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(211, 63, 44, 0.9);
    box-shadow: 0 0 0 0 rgba(211, 63, 44, 0.9);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 12px rgba(211, 63, 44, 0);
    box-shadow: 0 0 0 12px rgba(211, 63, 44, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(211, 63, 44, 0);
    box-shadow: 0 0 0 0 rgba(211, 63, 44, 0);
  }
}

.sc-ion-buttons-md-s ion-button:not(.button-round),
.sc-ion-buttons-ios-s ion-button:not(.button-round) {
  width: 60px;
  height: 50px;
}

ion-title.ios {
  text-align: left;
  left: -10vw;
  width: max-content;
}

ion-title.ios.title-default {
  font-size: 20px;
}

ion-fab-button.primary-button {
  --background: linear-gradient(
    143deg,
    var(--ion-color-primary) 0%,
    #0063bf 100%
  );
}

.mapboxgl-ctrl-attrib.mapboxgl-compact,
a.mapboxgl-ctrl-logo {
  display: none;
}

.mapboxgl-ctrl-top-right {
  top: 10%;
}

.mapboxgl-ctrl-group:not(:empty) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: none;
  min-height: 90px;
  height: 90px;
  border-radius: 10px;
  width: 40px;
  background-color: var(--ion-background-color);
  border: 1.5px solid var(--ion-color-contrast-trans-map);
}

.mapboxgl-ctrl-group:not(:empty) > * {
  height: 100%;
}

.mapboxgl-ctrl button:not(:disabled):hover {
  background-color: transparent;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
  background-image: var(--map-zoom-out-icon);
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
  background-image: var(--map-zoom-in-icon);
}

.mapboxgl-ctrl button .mapboxgl-ctrl-icon {
  background-size: 24px;
}

.header-md {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.input-fill-outline.sc-ion-input-md-h {
  --border-color: var(--white-border-color, var(--ion-color-contrast-trans));
}

@media screen and (max-width: 350px) {
  ion-tab-button ion-label {
    font-size: 11px;
  }

  ion-tab-button:before {
    top: 26.5%;
  }
}

@media screen and (min-width: 500px) {
  ion-title.ios {
    left: -5vw;
  }
}

.overlay-loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  z-index: 4000;
  background-color: rgba(255, 255, 255, 0.5);
  left: 0;
}
