.chatbot-header-container {
  box-shadow: none;
  padding: 0px 10px;
}

.chatbot-header-wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.chatbot-header-wrapper ion-button {
  --background: transparent;
}

.chatbot-header-wrapper ion-button ion-back-button {
  color: var(--ion-color-contrast);
}

.back-part {
  flex: 1;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: -0.25px;
}

.back-part .chatbot-header-icon {
  font-size: 20px;
}

.chatbot-header-text {
  flex: 3;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

.chatbot-header-text span {
  display: block;
  width: 100%;
}

.header-last-part {
  flex: 0.6;
}

.chatbot-ioncontent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--ion-background-color);
}
.fl {
  display: flex;
  align-items: center;
}
.questions-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  gap: 10px;
  justify-content: center;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  color: var(--ion-color-contrast);
  gap: 15px;
}

.chatbot-ioncontent .icon-container ion-icon {
  max-width: 50px;
  max-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--ion-color-primary);
  color: #fdfdfd;
  padding: 20px;
}

.chatbot-ioncontent .icon-container ion-label {
  font-size: 18px;
  font-weight: 600;
}

.icon-container .ai-icon {
  font-size: 28px;
}

.question1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 170px;
  background-color: var(--ion-item-background);
  border-radius: 15px;
  padding: 20px 10px;
  margin: 5px 0px;
  gap: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.question1 ion-label {
  font-size: 15px;
}

.question1 .question-icon {
  font-size: 24px;
  color: var(--ion-color-primary);
  background-color: rgba(var(--ion-color-primary-rgb), 0.14);
  padding: 8px;
  border-radius: 50%;
}

ion-footer {
  padding: 15px 0;
  background-color: var(--ion-background-color);
}

.message-send-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  border-radius: 25px;
  margin: auto;
  max-height: 60px;
  padding: 10px 5px;
}

.chatbot-prompt-section ion-label {
  color: var(--ion-color-contrast);
}

.input-prompt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.input-prompt-container ion-button ion-icon {
  margin: 0;
}

.input-prompt-container .prompt-action ion-icon {
  min-width: 24px;
  min-height: 24px;
  width: 24px;
  height: 24px;
  color: var(--ion-color-contrast);
}

.input-prompt-container ion-button {
  --border-radius: 50%;
  --box-shadow: none;
  --color: var(--white-color);
  width: 45px;
  height: 45px;
}

.input-prompt-container ion-button ion-icon {
  color: var(--white-color) !important;
}

.input-prompt-container ion-input {
  --color: var(--ion-color-contrast);
}

.input-clear-icon.sc-ion-input-md {
  display: none;
}

.input-wrapper.sc-ion-input-md input.sc-ion-input-md {
  min-height: 100%;
  margin: auto;
}

.input-prompt-container ion-input.has-focus {
  border-color: var(--ion-color-primary);
  transition: 0.2s;
}

.input-prompt-container .prompt-action {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background: var(--ion-item-background);
  min-height: 50px;
  overflow: hidden;
  border: 1.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 5px 20px;
  gap: 8px;
  width: 100%;
}
