.message-container {
  width: 100%;
}

.message-container .date {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  color: rgb(160, 159, 159);
}

.message-container-ionlist {
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px 10px;
}
.true .message-container-ionitem{
  margin-top: -35px;
}
.message-container-ionitem {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.name-initials {
  width: 10vw;
  position: relative;
}

.name-initials p {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  background-color: var(--ion-color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.02px;
}
.previoustrue p {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
}

.actual-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.actual-content-credential {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sender-name {
  font-size: 17px;
  font-weight: 550;
}

.time-sent {
  font-size: 14px;
  font-weight: 220;
  color: rgb(160, 159, 159);
}

.actual-content-message {
  font-size: 16px;
  color:  var(--ion-color-contrast);
  line-height: 1.3rem;
}

.hidden{
  display: none;
}
