.message-card-container {
    padding: 20px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.message-card-container .person {
    padding: 10px;
    display: inline;
    font-size: 17.3px;
    border-radius: 5px;
    line-height: 1.3rem;
    background-color: var(--ion-item-background);
    align-self: flex-end;
}

.Ai{
    width: 100%;
    display: flex;
    gap: 5px;
}

 .Ai .icon {
    width:35px;
    height: 35px;
    border-radius: 50%;
    background: var(--ion-color-primary);
    color: #fdfdfd;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Ai .icon ion-icon{
    font-size: 20px;
}


.Ai p {
    margin: 0px;
    max-width: 350px;
    font-size: 17.3px;
    padding: 10px 15px;
    border-radius: 5px;
    line-height: 1.4rem;
   
} 

.skeleton{
    width: 100%;
    animation: bgchanger 1.2s ease .1s alternate infinite;
}


@keyframes bgchanger{
    0%{
        background-color: rgba(var(--ion-color-primary-rgb), 0.14);
    }
    50%{
        background-color: rgba(var(--ion-color-primary), 1);
    }
    100%{
        background-color: rgba(16, 64, 223, 0.14);
    }
}