ion-segment-button::part(indicator-background) {
  background: #1e7fdb;
}

/* Material Design styles */
ion-segment-button.md::part(native) {
  color: #000;
}

.segment-button-checked.md::part(native) {
  color: #1e7fdb;
}

ion-segment-button.md::part(indicator-background) {
  height: 4px;
}

/* iOS styles */
ion-segment-button.ios::part(native) {
  color: #000;
}

.segment-button-checked.ios::part(native) {
  color: #fff;
}
/* 
  ion-segment-button.ios::part(indicator-background) {
    border-radius: 20px;
  } */

/* alerts container */
.disaster-status {
  display: flex;
  align-items: center;
  gap: 6px;
}
.disaster-status .status {
  background-color: #c5000f;
  padding: 4px;
  border-radius: 100%;
}
.status.potential {
  background-color: rgb(255, 255, 0);
}
.status.ongoing {
  background-color: rgb(81, 167, 31);
}

.alerts-container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.alerts-container .alert-box {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  border-radius: 8px;
  /* border: 1px solid #e0e0e0; */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.alerts-container .alert-box .status-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alerts-container .alert-box .status-time .status {
  color: #fff;
  font-size: 14px;
  opacity: 0.8;
  padding: 6px;
  border-radius: 6px;
}
.status.ongoing {
  background-color: #c5000f;
}
.status.occured {
  background-color: rgb(0, 143, 0);
}
.alerts-container .alert-box .status-time .status.potential {
  background-color: #ffbb00;
}

.alerts-container .alert-box .status-time .time {
  font-size: 14px;
  color: #585858;
}

.disaster-img-type {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.disaster-img-type h3 {
  margin: 0 0px 6px;
}
.disaster-img-type p {
  margin: 0;
  color: #585858;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 100%;
  background-color: #1e80db11;
}

.map-view {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 1.8rem;
  padding: 4px 16px;
  background-color: #1e7fdb;
  /* border: 1px solid #4169e1; */
  width: fit-content;
}

.map-view span {
  /* color: #4169e1; */
  color: #fff;
  font-size: 13px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.alerts-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding-block: 4px;
  width: fit-content;
}

.btn-link {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
}

.alerts-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-link span {
  color: #1e7fdb;
  font-size: 16px;
}

.btn-right-aligned {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.confirm-disaster {
  padding-bottom: 1rem;
  padding-inline: 1rem;
}

.pending {
  background-color: #1e7fdb;
}

.btn-right-aligned button {
  padding: 10px 2rem;
  font-size: 1rem;
  background-color: #1e7fdb;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #1e7fdb;
}

button.cancel {
  color: #333;
  background-color: transparent;
  border: 1px solid #333333;
}

.header-pending-content {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.header-pending-content h4 {
  font-size: 24px;
  font-weight: 700px;
}
/* 
.intro-image-report,
.intro-image-report img {
  border-radius: 8px;
} */

.check-box-container {
  display: flex;
  gap: 24px;
  align-items: center;
}

.check-box-container {
  width: fit-content;
}
