


.community-header{
    width: 100%;
    height: 45px;
    padding: 10px;
    display: flex;
    gap: 1rem;
}

.community-header .CHI{
    height: 35px;
   
}

.community-header .CHI.active{
    border-bottom: 4px solid var(--ion);
}

.CHI .icon{
    font-size: 23px;
}

.CHI .icon.active{
    color: var(--ion-color-primary);
}