.welcome-screens {
  background: linear-gradient(
    143deg,
    var(--ion-color-primary) 0%,
    #004d95 100%
  );
  width: calc(100vw + 1px);
  height: calc(100vh + 1px);
}

.welcome-screens .swiper-slide {
  background: transparent;
}

.swiper-pagination-bullet {
  background: #ffffff;
}

.swiper-pagination-bullet-active {
  width: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  transition: 0.4s;
}

.welcome-page {
  padding: 25px;
  padding-top: 20px;
}

.welcome-page-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: calc(100vh - 150px);
  justify-content: space-between;
}

.welcome-page-screen-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 80%;
}

.welcome-page h1 {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}

.welcome-illustration {
  width: 100%;
}

.welcome-illustration img {
  width: 80%;
  margin: auto;
}

.welcome-illustration.long-image img {
  width: 70%;
}

.welcome-action-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 10px;
  gap: 5px;
}

.welcome-action-buttons ion-button {
  width: 100%;
  font-weight: 500;
}

.welcome-action-buttons ion-button:first-child {
  --background: var(--white-color);
  --color: var(--ion-color-primary);
  --border: 2px solid var(--ion-color-primary);
}

.welcome-caption p {
  font-size: 16px;
  color: #ffffffeb;
  padding: 5px;
  letter-spacing: 0.04rem;
}

.welcome-control-button {
  --background: transparent;
  font-size: 16px;
  display: flex;
  gap: 5px;
  font-weight: 500;
  align-items: center;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --color: var(--white-color);
}

.welcome-control-button ion-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.welcome-direction-control img {
  width: 40px;
}

ion-header.welcome-direction-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

.welcome-direction-control .logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.welcome-direction-control .logo-section span {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.04rem;
  color: #fff;
}

@media screen and (max-width: 395px) {
  .welcome-caption p {
    font-size: 14px;
  }

  .welcome-page h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 330px) {
  .welcome-page h1 {
    font-size: 23px;
  }
}

@media screen and (max-height: 650px) {
  .welcome-page-screen-content {
    gap: 0;
  }

  .welcome-page-screen-container {
    gap: 0;
  }
}
