.Settings-main-container ion-title.ios.header-title {
  display: none;
}

.Settings-main-container ion-header.ios {
  --opacity-scale: 1 !important;
}

#setting-list {
  margin: auto;
  margin-top: 35px;
  width: 90%;
}

#setting-list ion-item-divider {
  font-size: 14px;
  padding: 6px 8px;
  margin-bottom: 6px;
  text-transform: uppercase;
}

#setting-list ion-item-divider.ios {
  border-radius: 4px;
  --background: var(--divider-background);
  color: var(--ion-color-primary);
}

#setting-list ion-item-group {
  margin-bottom: 15px;
}

#setting-list ion-item,
ion-modal ion-item {
  --background: transparent;
  --inner-border-with: 0;
  --border-style: none;
  margin-top: 10px;
}

#setting-list ion-item ion-button {
  color: var(--ion-contrast-color);
  --background: transparent;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

#setting-list ion-title.md {
  padding-left: 0px;
}

.modal-content {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  flex-direction: column;
  gap: 30px;
}

.modal-content > ion-label {
  width: 88%;
  font-size: 20px;
  font-weight: 600;
}

:host(.modal-card),
:host(.modal-sheet) {
  --border-radius: 25px;
}

ion-radio::part(container) {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid transparent;
}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

ion-radio.radio-checked::part(container) {
  background: var(--ion-color-primary);
  border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
  width: 6px;
  height: 10px;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #fff;
  transform: rotate(45deg);
}

ion-radio-group ion-item ion-icon {
  width: 30px;
  height: 30px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-radio-group {
  width: 95%;
}
