.footer-chatsession {
    border-top: var(--ion-color-medium-tint);
    padding: 10px;
}

.chat-session-ioncontent {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: var(--ion-color-shade);
}

.chat-session-ioncontent .host-container {
    background-color: var(--ion-color-ch-ss);
     padding: 20px 10px;
     display: flex;
     flex-direction: column;
     border-radius: 1rem;
    justify-content: center;
    align-items: center;
}

.host-container .nm-initials {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ion-color-medium);
    color: var(--white-color);
    font-size: 20px;
   
}

.chat-members{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-top: 20px;
}

.each-member{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    background-color: var(--ion-text-color-step-800);
    border-radius: 1rem;
}

.each-member .nm-initials {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ion-color-tertiary);
    color: var(--white-color);
    font-size: 20px;
}

.each-member .one{
    background-color: var(--notification-color);
}
.each-member .two{
    background-color: rgb(136, 136, 12);
}
.each-member .three{
    background-color: rgb(66, 5, 102);
}
.each-member .four{
    background-color: rgb(9, 107, 9);
}

.chatsession-icons {
    width: 100%;
    height: 100%;
    display: flex;
}

.chatsession-icons .chat-icon {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera,
.phone,
.microphone {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera {
    background-color: var(--ion-color-tertiary);
}

.microphone {
    background-color: var(--ion-color-medium-tint);
}

.phone {
    background-color: var(--ion-color-danger);
}

.chat-icon .icon {
    font-size: 22px;
    color: var(--white-color);
}